:root {
  --text-color: #fff;
  --link-text-color: hsl(40, 60%, 60%);
  --link-text-hover-color: hsl(40, 60%, calc(60% * 1.2));

  --hover-color: #fff9ea;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.background img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the aspect ratio is maintained while covering */
  background: no-repeat center center;
  z-index: -1;
}

.content {
  position: absolute;
  color: white;
  text-align: left; /* Changed to left to align the text */
  opacity: 0;
  transition: opacity 1s ease-in-out;
  display: flex;
  justify-content: space-between; /* This spaces the text content and SVG */
  align-items: flex-start; /* Align items at the top */
}

.content-wrapper {
  display: flex;
  align-items: flex-start; /* Align items at the top */
  justify-content: space-between;
}

.text-content {
  flex: 1; /* Allow the text content to take up remaining space */
}

.svg-image {
  position: relative;
  left: -15%;
  transform: rotate(90deg);
  width: auto;
  opacity: 0;
  height: 230px;
  margin-top: 12.85%;
  transition: opacity 1s ease-in-out;
  pointer-events: none;
}

.header {
  font-family: "Cinzel", serif;
  opacity: 0;
  font-size: 4rem;
  margin-bottom: 20px;
  transition: opacity 1s ease-in-out;
  margin-bottom: 0;
  color: var(--text-color);
}

.separator {
  position: relative;
  width: 0%;
  height: 2px;
  background-color: var(--text-color);
  margin: 0, auto;
  transition: width 1s cubic-bezier(0.6, 0, 0.4, 1), opacity 0.5s ease-in-out;
  opacity: 0;
  /* margin-bottom: 1px; */
}

.animated .separator.wide {
  width: 140%;
  left: -20%;
}

.animated .separator {
  width: 120%;
  left: -10%;
  opacity: 1;
}

.animated .separator.med {
  width: 110%;
  left: -5%;
}

.animated .separator.closed {
  width: 0 !important;
  left: 0 !important;
}

.subheaders {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.subheaders li {
  margin: 0;
}

.subheader-link {
  font-family: "Lora", serif;
  font-size: 2rem;
  text-decoration: none;
  color: var(--text-color);
  opacity: 0;
  transition: opacity 1s ease-in-out, color 0.25s ease-in-out;
  position: relative;
  display: inline-block;
  width: 100%;
}

.subheader-link:hover {
  color: var(--hover-color);
}

.subheader-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10%;
  height: 100%;
  width: 120%;
  background: linear-gradient(
    90deg,
    rgba(226, 198, 141, 0) 0%,
    rgba(226, 198, 141, 0.8) 7.5%,
    rgba(226, 198, 141, 0) 100%
  );
  z-index: -1; /* Place behind the text */
  opacity: 0; /* Initial opacity */
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
  /* transform: scaleX(0); /* Initially shrink the gradient */
  transform-origin: left;
}

.subheader-link:hover::before {
  opacity: 1;
  /* transform: scaleX(1); /* Expand the gradient on hover */
}

.top-right {
  position: absolute;
  top: 5%;
  right: 10%;
}

.top-mid-left {
  position: absolute;
  top: 15%;
  left: 10%;
}

.bottom-left {
  position: absolute;
  bottom: 5%;
  left: 10%;
}

.footer {
  color: white;
  text-align: center;
}

.footer p {
  font-family: "Lora", serif;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  margin: 5px;
}

.footer p a {
  color: var(--link-text-color);
}

.footer p a:hover {
  color: var(--link-text-hover-color);
}

.news-updates {
  color: white;
}

.news-updates h2 {
  font-family: "Cinzel", serif;
  font-size: 3rem;
  margin-bottom: 0;
  text-align: right;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.news-updates ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.news-updates li {
  font-family: "Lora", serif;
  text-align: right;
  font-size: 1.5rem;
  padding: 15px 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

@media only screen and (max-width: 600px) {
  .content {
    flex-wrap: wrap;
    justify-content: center;
  }

  .svg-image {
    left: 0;
    margin-top: 50px;
    height: 250px;
    text-align: center;
  }

  .text-content {
    flex: 0;
  }

  .separator {
    width: 0%;
    left: 50%;
    transform: translateX(-50%);
  }

  .animated .separator {
    width: 120%;
    left: 50%;
    transform: translateX(-50%);
  }

  .top-mid-left {
    top: 0;
    left: 0;
  }

  .bottom-left {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .subheaders {
    text-align: center;
  }

  .subheader-link::before {
    background: linear-gradient(
      90deg,
      rgba(226, 198, 141, 0) 0%,
      rgba(226, 198, 141, 0.8) 50%,
      rgba(226, 198, 141, 0) 100%
    );
  }
}
