/* colors  */
:root {
    --background: #100f0feb;
    --foreground: #9f957e;
    --highlight: #ffe7ab;
    --highlight2: #ddbc6a;
    --highlight-background: #ddbd6a50;
}

/* css to customize Leaflet default styles  */
.leaflet-popup-content-wrapper {
    background: var(--background);
    color: var(--foreground);
    border: 7px solid var(--background);
    border-image-source: url(../icons/border.png);
    border-image-width: 20px 40px;
    border-image-repeat: round;
    border-image-slice: 30 50 fill;
    border-radius: 4px;
}
.leaflet-popup-content-wrapper a:link {
    color: var(--highlight);
}
.leaflet-popup-content-wrapper a:visited {
    color: var(--highlight2);
}
.leaflet-control-layers {
    background: var(--background);
    color: var(--foreground);
}
.leaflet-top .leaflet-left {
    margin-top: 10px;
}
.leaflet-bar a {
    background: var(--background);
    color: var(--foreground);
    border-bottom: 1px solid var(--foreground);
}
.leaflet-bar a:hover {
    background: var(--foreground);
    color: var(--background);
}
.leaflet-bar a:focus {
    background: var(--background);
    color: var(--foreground);
}
.leaflet-control-layers-toggle {
    background-image: url(../icons/layers.png);
    background-size: 30px 30px;
}
.leaflet-bar a.leaflet-disabled {
    background: var(--background);
    color: var(--foreground);
}
.leaflet-control-layers-selector {
    accent-color: var(--highlight);
}
.custom-radio-class {
    margin-top: 2px;
    position: relative;
    top: 1px;
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 0px 5px;
    padding: initial;
    border: initial;
    padding-block: 1px;
    padding-inline: 2px;
    margin-right: 8px;
}
.leaflet-control-layers-group-selector {
    accent-color: var(--highlight2);
}
.leaflet-popup-tip {
    background: var(--background);
    height: 95%;
}
.leaflet-control-layers-separator {
    border-top: 1px solid var(--foreground);
}
.leaflet-control-zoom.leaflet-bar.leaflet-control {
    border: 7px solid transparent;
    border-image-source: url(../icons/border.png);
    border-image-width: 20px 40px;
    border-image-repeat: round;
    border-image-slice: 30 50 fill;
}
.leaflet-control-layers.leaflet-control {
    border-radius: 12px;
    border: 9px solid transparent;
    border-image-source: url(../icons/border.png);
    border-image-width: 20px 40px;
    border-image-repeat: round;
    border-image-slice: 30 50 fill;
}
.leaflet-control-layers.leaflet-control.leaflet-control-layers-expanded {
    border-radius: 15px;
    border: 12px solid transparent;
    border-image-source: url(../icons/border.png);
    border-image-width: 20px 40px;
    border-image-repeat: round;
    border-image-slice: 30 50 fill;
}
.leaflet-popup-close-button {
    display: none;
}

.custom-container {
    padding:5px;
    border-radius:4px;
    color: var(--foreground);
    margin-top:8px;
}

.custom-input {
    margin:2px;
    padding:5px;
    display:block;
    color:var(--foreground);
    background: var(--background);
    border-radius:4px;
    text-decoration:none;	
    white-space:nowrap;
    width:245px;
    accent-color: var(--highlight);
    border: none;
    outline: none;
    border-bottom: 1px solid var(--foreground);
}

.custom-checkbox-container {
    display: flex;
    align-items: center;
}

.custom-checkbox {
    margin-right: 5px;
    accent-color: var(--highlight);
}

.custom-select {
    margin:2px;
    width: 97.5%;
    padding: 5px;
    color:var(--foreground);
    background: var(--background);
    border-radius:4px;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--foreground);
}

.custom-button {
    width: 97.5%;
    margin:2px;
    padding: 5px;
    margin-top:8px;
    display:block;
    box-sizing: border-box;
    color:var(--foreground);
    background: var(--background);
    border-radius:4px;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--foreground);
    border-left: 1px solid var(--foreground);
    border-right: 1px solid var(--foreground);
    height: 26px;
}

.custom-title {
    width: 97.5%;
    margin:2px;
    padding: 5px;
    display:block;
    box-sizing: border-box;
    color:var(--foreground);
    background: var(--background);
    border-radius:4px;
}

.custom-subtitle {
    width: 97.5%;
    margin-left:2px;
    padding-top: 5px;
    display:block;
    box-sizing: border-box;
    color:var(--foreground);
    border-radius:4px;
    text-align: left;
}

.custom-context-menu {
    display: none;
    position: absolute;
    z-index: 10000;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background: var(--background);
    color: var(--foreground);
    border: 7px solid var(--background);
    border-image-source: url(../icons/border.png);
    border-image-width: 20px 40px;
    border-image-repeat: round;
    border-image-slice: 30 50 fill;
    border-radius: 4px;
}

.custom-context-menu button {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: var(--background);
    color: var(--foreground);
    border: 1px solid var(--highlight);
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.custom-context-menu button:hover {
    background-color: var(--highlight);
    color: var(--background);
}

.small-divider {
    height: 3px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 0px;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--background);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: var(--foreground);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}