:root {
    --background: #100f0feb;
    --foreground: #9f957e;
    --highlight: #ffe7ab;
    --highlight2: #ddbc6a;
    --highlight-background: #ddbd6a50;

    --universe-event: #ddbd6a50;
    --universe-event-highlight: #ddbc6a;
    --world-event: #ffbcac50;
    --world-event-highlight: #ffbcac;
    --national-event: #d0acfc50;
    --national-event-highlight: #d0acfc;
    --local-event: #b0bcfc50;
    --local-event-highlight: #b0bcfc;

    --sidebar-padding: 300px;
}

body, .image-modal {
    color: var(--foreground);
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: var(--background);
}

.main-container {
    margin-left: var(--sidebar-padding);
    flex-grow: 1;
    padding-right: 10px;
    margin: 0px auto;
    max-width: 800px;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: var(--sidebar-padding);
    height: 100vh;
    background-color: var(--background);
    border-right: 4px solid var(--highlight2);
    overflow-y: auto; /* Enable scrolling if the content is too long */
}

.sidebar-content {
    padding: 20px;
}

.sidebar-era {
    border-left: 4px solid var(--highlight2);
    margin-bottom: 10px;
    background-color: var(--highlight-background);
    color: var(--highlight);
    padding: 10px;
    width: 100%;
    text-align: left;
    outline: none;
    cursor: pointer;
    margin-top: 5px; /* Space between era buttons */
}
  
.sidebar-events-container {
    display: none;
    padding-left: 20px; /* Indent event links for hierarchy visibility */
    margin-bottom: 5px;
}
  
.sidebar-events-container.active {
    display: block;
}
  
.sidebar-event-link {
    border-left: 4px solid var(--highlight2);
    background-color: var(--highlight-background);
    display: block;
    color: var(--highlight);
    padding: 5px;
    text-decoration: none;
}

.sidebar-event-link.universe-changing-event {
    border-left: 4px solid var(--universe-event-highlight);
    background-color: var(--universe-event);
}

.sidebar-event-link.world-changing-event {
    border-left: 4px solid var(--world-event-highlight);
    background-color: var(--world-event);
}

.sidebar-event-link.national-event {
    border-left: 4px solid var(--national-event-highlight);
    background-color: var(--national-event);
}

.sidebar-event-link.local-event {
    border-left: 4px solid var(--local-event-highlight);
    background-color: var(--local-event);
}
  
.sidebar-event-link:hover {
    color: var(--highlight2);
}  

.era {
    margin-bottom: 40px;
}

.era h1 {
    color: var(--highlight);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.title-container {
    border-bottom: 2px solid var(--highlight2);
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

.era-description {
    color: var(--foreground);
    margin: 10px 0;
}

.toggle-description-btn {
    background-color: var(--highlight);
    color: var(--background);
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 5px 0;
}

.toggle-description-btn:hover {
    background-color: var(--highlight2);
}

.event {
    cursor: pointer;
    padding: 10px;
    border-left: 4px solid var(--highlight2);
    margin-bottom: 10px;
    background-color: var(--highlight-background);
}

.event.universe-changing-event {
    border-left: 4px solid var(--universe-event-highlight);
    background-color: var(--universe-event);
}

.event.world-changing-event {
    border-left: 4px solid var(--world-event-highlight);
    background-color: var(--world-event);
}

.event.national-event {
    border-left: 4px solid var(--national-event-highlight);
    background-color: var(--national-event);
}

.event.local-event {
    border-left: 4px solid var(--local-event-highlight);
    background-color: var(--local-event);
}

.event h2 {
    color: var(--highlight);
    font-size: 20px;
}

/* Modal Styles */
.image-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.image-modal-content {
    background-color: var(--background);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid var(--highlight);
    width: 80%;
    max-width: 600px;
}

.image-modal-content h1 {
    color: var(--highlight);
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

.image-modal-content h2 {
    color: var(--highlight);
    text-align: center;
    font-size: large;
}

.close {
    color: var(--highlight);
    float: right;
    font-size: 40px;
    font-weight: bold;
    padding-right: 18px;
}

.close:hover,
.close:focus {
    color: var(--highlight2);
    text-decoration: none;
    cursor: pointer;
}

.search-container {
    text-align: center;
    margin-top: 20px;
}

.search-box {
    padding: 10px 15px;
    width: 80%; /* Adjust based on preference */
    max-width: 400px; /* Keeps the search box from becoming too wide on larger screens */
    border: 2px solid var(--highlight2);
    border-radius: 8px;
    background-color: var(--background);
    color: var(--highlight);
    font-size: 16px;
    outline: none; /* Removes the default focus outline to use a custom one */
}

.search-box:focus {
    border-color: var(--highlight);
    box-shadow: 0 0 8px 0 var(--highlight-background); /* Soft glow effect on focus */
}

.search-box::placeholder {
    color: var(--foreground);
    opacity: 0.7; /* Placeholder text slightly faded for better contrast */
}

.filters {
    text-align: center;
}

.filters label {
    margin-right: 15px;
    color: var(--highlight);
}

.filters button {
    padding: 5px 10px;
    background-color: var(--highlight);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: var(--background);
}

.filters button:hover {
    background-color: var(--highlight2);
}

.filters input {
    accent-color: var(--highlight);
}

@media screen and (max-width: 768px) {
    .main-container {
        padding: 15px;
        margin: 15px;
    }

    .image-modal-content {
        width: 90%;
    }

    .close {
        font-size: 40px;
    }
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: var(--highlight2);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--highlight);
}